*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  /* --background-color: rgb(155, 252, 252); */
  --background-color: rgb(165, 235, 165);
  /* --font-color: rgb(255, 252, 252); */
  --font-color: rgb(64, 79, 64);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color);
}

.header {
  margin-top: 100px;
  font-size: 1.6rem;
  color: var(--font-color);
}

.main-board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 100px;
}

.cell {
  width: 100px;
  height: 100px;
  border: 2px solid black;
  cursor: pointer;
  font-size: 9vh;
  color: var(--font-color);

  display: flex;
  align-items: center;
  justify-content: center;
}
.cell:hover {
  background-color: rgb(177, 246, 177);
}

.bt-0 {
  border-top: 0;
}
.bb-0 {
  border-bottom: 0;
}
.br-0 {
  border-right: 0;
}
.bl-0 {
  border-left: 0;
}

.update .text {
  margin-top: 100px;
  font-size: 2.2rem;
  color: var(--font-color);
}

.btn {
  margin-top: 50px;
  padding: 10px 20px;
}
.btn-restart {
  padding: 10px 30px;
  border: none;
  font-size: 20px;
  text-transform: uppercase;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.btn-restart:hover {
  background-color: var(--font-color);
  color: white;
}
